<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a Contact</title>
</head>
<body>
  <h1><%= @add_contact_page_title %></h1>
  <p>Type in your contact's info</p>
</body>
</html>