<!--
================
ADD CONTACT FORM
================
-->
<form action="/contacts" method="post" class="add-contact-form animated bounceIn" id="add-contact-form"role="form">

  <div class="form-group">

    <!-- FORM FIELDS -->
    <div class="field">
      <label for="first-name" class="form-label">First Name</label>
      <input type="text" class="add-contact-form-field form-control form-control-lg" name="first_name" placeholder="e.g. Princess">
    </div>

    <div class="field">
      <label for="last-name" class="form-label">Last Name</label>
      <input type="text" class="add-contact-form-field form-control form-control-lg" name="last_name" placeholder="e.g. Peach">
    </div>

    <div class="field">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="add-contact-form-field form-control form-control-lg" name="email" placeholder="e.g. boss@mushroomkingdom.org">
    </div>

    <div class="field">
      <label for="notes" class="form-label">Notes</label>
      <input type="text" class="add-contact-form-field form-control form-control-lg" name="notes" placeholder="e.g. Excellent hostage.">
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-primary btn-lg btn-red raised" value="Create Film">+ Add New Contact</button>
  </div>

</form>