<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Contacts</title>
</head>
<body>
  <h1><%= @contacts_page_title %></h1>
  <p>Here's my list of contacts</p>
  <ul>
  <% @contacts.each do |contact| %>
    <li><%= contact.first_name %> <%= contact.last_name %></li>
  <% end %>
  </ul>
</body>
</html>