<div class="welcome-instructions">

  <h2 class="h2-header">TO FIND ENEMY, PRESS RED BUTTON NOW</h2>
  <img src="/img/bowser.png" height="40%" width="40%">

  <form action="/contacts" method="get">
    <button type="submit" class="btn btn-lg btn-primary btn-red raised">FIND ALL ENEMIES</button>
  </form>

</div>