<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRM</title>
</head>
<body>
  <h1>Welcome to <%= @crm_app_name %>!</h1>
  <p>Main Menu</p>
  <ul>
    <li><a href="/contacts">View all contacts</a></li>
    <li><a href="/contacts/add">Add a contact</li>
    <li><a href="/contacts/edit">Edit a contact</a></li>
    <li><a href="/contacts/show">View an attribute of a contact</a></li>
    <li><a href="/contacts/delete">Delete a contact</a></li>
  </ul>
</body>
</html>