<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/add">Add a contact</li>
  <li><a href="/contacts/edit">Edit a contact</a></li>
  <li><a href="/contacts/show">View an attribute of a contact</a></li>
  <li><a href="/contacts/delete">Delete a contact</a></li>
</ul>