<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- TITLE -->
  <title><%= @page_title %></title>

  <!-- STYLES -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
  <h1><%= @page_h1 %></h1>
  <h2><%= @page_h2 %></h2>
  <%= yield %>
</body>
</html>