<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>See a Contact's Attributes</title>
</head>
<body>
  <h1><%= @contact_attribute_page_title %></h1>
  <p>Pick a contact and an attribute</p>
</body>
</html>